@import "../base";

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.ImageUploaderElement {
  &__buttonsWrapper {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
  }
}
